.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    

    }
    
    .div1 { grid-area: 1 / 1 / 2 / 6; background-color: rgb(83, 83, 109);box-shadow: 0 4px 8px 0 rgba(2,2,2,2.2); }
    .div2 { grid-area: 2 / 1 / 6 / 2;background-color: rgb(188, 193, 149);box-shadow: 0 4px 8px 0 rgba(2,2,2,2.2); }
    .div3 { grid-area: 2 / 2 / 4 / 4;background-color: rgb(255, 255, 255);box-shadow: 0 4px 8px 0 rgba(2,2,2,2.2); }
    .div4 { grid-area: 2 / 4 / 4 / 6;background-color: rgb(255, 255, 255);box-shadow: 0 4px 8px 0 rgba(2,2,2,2.2); }
    .div5 { grid-area: 4 / 2 / 6 / 4;background-color: rgb(255, 255, 255);box-shadow: 0 4px 8px 0 rgba(2,2,2,2.2); }
    .div6 { grid-area: 4 / 4 / 6 / 6;background-color: rgb(255, 255, 255);box-shadow: 0 4px 8px 0 rgba(2,2,2,2.2);; }


.recherche {
    text-align: center;
}

.cardAcc {
    margin:auto;
    margin-top: 75px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(2,2,2,2.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  #imgArt1{
      flex:auto;
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {

    border-radius: 5px 5px 0 0;
  }
  .testImg img{
      position: relative;
        margin-left: 75px;
  }
  .imgPanier{
      position: relative;
      margin-right: 25px;
      margin-top: -30px;
      
  }
